<form action="" (ngSubmit)="onSubmit()" class="form" #form="ngForm">

    <div class="form__group">
      <label class="form__label" for="title">Title</label>
      <input class="form__control"
        name="title"
        #title="ngModel"
        [(ngModel)]="model.title"
        required
        placeholder=""
        type="text">
    </div>

    <div class="form__group">
      <label class="form__label" for="description">Description</label>
      <textarea class="form__control form__control--description"
        name="description"
        #description="ngModel"
        [(ngModel)]="model.description"
        required
        placeholder=""
        type="text">
      </textarea>
    </div>

    <h3 class="iso-form__topic">Date & Time</h3>

    <div class="form__group">
      <label class="form__label" for="startDateField">Start Date</label>
      <input class="form__control"
        name="startDateField"
        #startDateField="ngModel"
        [(ngModel)]="startDate"
        required
        placeholder=""
        type="date">
    </div>

    <div class="form__group">
      <label class="form__label" for="startTimeField">Start Time</label>
      <input class="form__control"
        name="startTimeField"
        #startTimeField="ngModel"
        [(ngModel)]="startTime"
        placeholder=""
        type="time">
    </div>

    <div class="form__group">
      <label class="form__label" for="endDateField">End Date</label>
      <input class="form__control"
        name="endDateField"
        #endDateField="ngModel"
        [(ngModel)]="endDate"
        required
        placeholder=""
        type="date">
    </div>

    <div class="form__group">
      <label class="form__label" for="endTimeField">End Time</label>
      <input class="form__control"
        name="endTimeField"
        #endTimeField="ngModel"
        [(ngModel)]="endTime"
        placeholder=""
        type="time">
    </div>

    <h3 class="iso-form__topic">Location</h3>

    <div class="form__group">
      <label class="form__label" for="toLocation">To</label>
      <input class="form__control"
        name="toLocation"
        #toLocation="ngModel"
        [(ngModel)]="model.toLocation"
        required
        placeholder=""
        type="text">
    </div>

    <div class="form__group">
      <label class="form__label" for="fromLocation">From</label>
      <input class="form__control"
        name="fromLocation"
        #fromLocation="ngModel"
        [(ngModel)]="model.fromLocation"
        placeholder=""
        type="text">
    </div>

    <button mat-button class="form__button"
      [disabled]="!form.form.valid || !fb.user"
      type="submit">
      Submit
    </button>

</form>
