<div *ngIf="fb.user$ | async as user">
    <mat-tab-group mat-stretch-tabs>
        <mat-tab label="Waiting">

            <section class="iso-opportunity">
                <mat-list class="iso__list">
                  <app-iso-card *ngFor="let card of theyAreFulfilling | async" [card]="card"></app-iso-card>
                </mat-list>
            </section>

        </mat-tab>
        <mat-tab label="Fulfilled">

            <section class="iso-opportunity">
                <mat-list class="iso__list">
                  <app-iso-card *ngFor="let card of theyHaveFulfilled | async" [card]="card"></app-iso-card>
                </mat-list>
            </section>

        </mat-tab>
        <mat-tab label="Doing">

            <section class="iso-opportunity">
                <mat-list class="iso__list">
                <app-iso-card *ngFor="let card of iAmFulfilling | async" [card]="card"></app-iso-card>
                </mat-list>
            </section>

        </mat-tab>
        <mat-tab label="Done">

            <section class="iso-opportunity">
                <mat-list class="iso__list">
                <app-iso-card *ngFor="let card of iHaveFulfilled | async" [card]="card"></app-iso-card>
                </mat-list>
            </section>

        </mat-tab>
    </mat-tab-group>
</div>
