<nav class="nav-bar">

  <ul class="nav-bar__items">
    <li class="nav-bar__item">
      <a routerLink="/" class="nav-bar__link"
        routerLinkActive="nav-bar__link--selected"
        [routerLinkActiveOptions]="{exact: true}">
        <i class="nav-bar__icon"></i>
        LOGO
      </a>
    </li>
    <li class="nav-bar__item">
      <a routerLink="/iso" class="nav-bar__link"
        routerLinkActive="nav-bar__link--selected">
        ISO
      </a>
    </li>
    <li class="nav-bar__item">
      <a routerLink="/opportunities" class="nav-bar__link"
        routerLinkActive="nav-bar__link--selected">
        Opportunities
      </a>
    </li>
    <li class="nav-bar__item">
      <button mat-button class="nav-bar__button">
        Log Out
      </button>
    </li>
  </ul>

</nav>
