@import '~src/assets/scss/base/variables';

.nav-bar {
  position: sticky;
  top: 0;
  left: 0;
  margin: 0;
  padding: 1em;

  background-color: $col-bkgd;
  color: white;
  z-index: 10;

  &__items {
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: baseline;

    list-style: none;
  }

  &__item {
    margin: 0 0.55em;

    &:last-of-type {
      margin-left: auto;
    }
  }

  &__link {
    color: $col-text-secondary;
    text-decoration: none;

    transition: 0.15s ease-in-out;

    &:hover {
      color: $col-text-tertiary;
    }

    &--selected, &--selected:hover {
      user-select: none;
      cursor: default;
      color: $col-text-disabled;
    }

    &--disabled {
      color: $col-bkgd;
      user-select: none;
      pointer-events: none;
    }
  }

  &__button {
    background-color: $col-frgd;
  }

  &__icon {
    width: 2em;
    height: 2em;
    transform: translateY(25%);
    margin: 0 0.3em;
    // border: 3px solid white;
    // border-radius: 50%;
    // padding: 0.5em;

    transition: 0.25s ease-in-out;

    &:hover {
      cursor: pointer;
      filter: brightness(70%);
    }
  }
}
