@import '~src/assets/scss/base/variables';

.iso-card {
  margin: 1em 0;
  display: block;
  width: 80vw;
  max-width: 600px;

  &__head {
    display: block;
  }

  &__image {
    background-size: cover;
  }

  &__button {
    background-color: $col-frgd;
    color: $col-text-secondary;

    transition: 0.15s ease-in-out;

    &:hover {
      background-color: darkgray;
    }
  }

  &__footer {
    margin: 0 0.5em;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }

  &__payment {
    font-size: 1.2em;
    float: right;
  }

  &__posted {
    font-size: small;
  }
}
