<mat-card class="opportunity-card">
  <mat-card-header>
    <div mat-card-avatar class="opportunity-card__image"
      [ngStyle]="{backgroundImage: 'url(' + card.userPosted?.photoUrl + ')'}">
    </div>
    <mat-card-title>{{card.title}}</mat-card-title>
    <mat-card-subtitle> Posted on: {{card.postedDate.toLocaleDateString()}} - {{card.postedDate.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'})}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="opportunity-card__description">
    <p> {{card.description}} </p>
  </mat-card-content>
  <mat-card-content class="opportunity-card__locations">
    <app-location fromLocation="{{card.fromLocation}}" toLocation="{{card.toLocation}}"></app-location>
  </mat-card-content>
  <mat-card-footer class="opportunity-card__footer">
    <!-- <mat-accordion *ngIf="fb.user.uid !== card.userPosted.uid" class="opportunity-card__expansion">
      <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Request Favor
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-opportunity-favor-form></app-opportunity-favor-form>
      </mat-expansion-panel>
    </mat-accordion> -->
  </mat-card-footer>
</mat-card>
