<mat-card class="opportunity-card">
  <mat-card-header>
    <div mat-card-avatar class="opportunity-card__image"
      [ngStyle]="{backgroundImage: 'url(' + card.userPosted?.photoUrl + ')'}">
    </div>
    <mat-card-title>{{card.title}}</mat-card-title>
    <mat-card-subtitle class="opportunity-card__posted"> Posted {{card.postedDate.toLocaleDateString()}} - {{card.postedDate.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'})}} </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content class="opportunity-card__description">
    <mat-card-subtitle> Starting {{card.startDate.toLocaleDateString()}} - {{card.startDate.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'})}} </mat-card-subtitle>
    <mat-card-subtitle *ngIf="card.endDate"> Ending {{card.endDate.toLocaleDateString()}} - {{card.endDate.toLocaleTimeString([], {hour: '2-digit', minute:'2-digit'})}} </mat-card-subtitle>
    <p> {{card.description}} </p>
  </mat-card-content>
  <mat-card-content class="opportunity-card__locations">
    <app-location fromLocation="{{card.fromLocation}}" toLocation="{{card.toLocation}}"></app-location>
  </mat-card-content>

  <mat-card-footer class="opportunity-card__footer" *ngIf="fb.user.uid === card.userPosted.uid">
    <mat-accordion class="opportunity-card__expansion">
      <mat-expansion-panel (opened)="isOpen = true"
                           (closed)="isOpen = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            View &nbsp; <b>favor</b> &nbsp; requests
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-favor-requests *ngFor="let request of card.requests" request="request"></app-favor-requests>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-footer>

  <mat-card-footer class="opportunity-card__footer" *ngIf="fb.user.uid !== card.userPosted.uid">
    <mat-accordion class="opportunity-card__expansion">
      <mat-expansion-panel (opened)="isOpen = true"
                           (closed)="isOpen = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Request new &nbsp; <b>favor</b>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-opportunity-favor-form [opportunity]="card"></app-opportunity-favor-form>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-footer>
</mat-card>
