<a class="location"
  [attr.href]="fromLocation ? wholeLocationLink : null"
  [class.location--dual]="fromLocation"
  target="_blank">
  <div *ngIf="fromLocation" class="location__location">
    <i class="fa fa-map-marker fa-2x location__pin"></i>
    <p class="location__descriptor">{{fromLocation}}</p>
  </div>
  <i *ngIf="fromLocation" target="_blank" class="fa fa-long-arrow-right fa-2x location__arrow"></i>
  <a class="location__location"
    [attr.href]="fromLocation ? null : wholeLocationLink"
    [class.location__location--individual]="true"
    [class.location__location--disabled]="fromLocation"
    target="_blank">
    <i class="fa fa-map-marker fa-2x location__pin"></i>
    <p class="location__descriptor">{{toLocation}}</p>
  </a>
</a>
