.location {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3em 3em;

  &__location {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__descriptor {
    text-align: center;
  }

  &__pin {

  }

  &__arrow {

  }
}
